{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .revolution-slider { height: 250px; }
        .rev_slider li.tp-revslider-slidesli {
            height: 250px !important;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div id="slideshow">
        <div class="fullwidthbanner-container" style="height: 250px;">
            <div class="revolution-slider rev_slider" style="height: 0; overflow: hidden;">
                <ul>    <!-- SLIDE  -->
                    <!-- Slide1 -->
                    <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('images/sld1.jpg') }}" alt="">
                    </li>

                    <!-- Slide2 -->
                    <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('images/sld2.jpg') }}" alt="">
                    </li>

                    <!-- Slide3 -->
                    <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1500">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('images/sld3.jpg') }}" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section id="content">
        <div class="search-box-wrapper">
            <div class="search-box container">
                <ul class="search-tabs clearfix" style="display:none;">
                    <li class="active"><a href="#flights-tab" data-toggle="tab">FLIGHTS</a></li>
                </ul>
                <div class="visible-mobile">
                    <ul id="mobile-search-tabs" class="search-tabs clearfix">
                        <li class="active"><a href="#flights-tab">FLIGHTS</a></li>
                    </ul>
                </div>

                <div class="search-tab-content">
                    <div class="tab-pane fade active in" id="flights-tab">
                        <form action="{{ path('app_flight_results') }}" method="get">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="title">Where</h4>
                                    <div class="form-group">
                                        <label>Leaving From</label>
                                        <input type="text" class="input-text full-width" name="fromWhere" placeholder="BER, DUS, ..." required />
                                    </div>
                                    <div class="form-group">
                                        <label>Going To</label>
                                        <input type="text" class="input-text full-width" name="toWhere" placeholder="AYT, ..." required />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <h4 class="title">When</h4>
                                    <label>Departing On</label>
                                    <div class="form-group row">
                                        <div class="col-xs-10">
                                            <div class="datepicker-wrap">
                                                <input type="text" name="departDate" class="input-text full-width" placeholder="mm/dd/yy" required />
                                            </div>
                                        </div>
                                    </div>
                                    <label>Returning On</label>
                                    <div class="form-group row">
                                        <div class="col-xs-10">
                                            <div class="datepicker-wrap">
                                                <input type="text" name="returnDate" class="input-text full-width" placeholder="mm/dd/yy" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <h4 class="title">Who</h4>
                                    <div class="form-group row">
                                        <div class="col-xs-6">
                                            <label>Adults</label>
                                            <input type="number" class="input-text full-width" name="whoADT" value="1" placeholder="" min="1" max="15" required />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-3">
                                            <label>Kids</label>
                                            <input type="number" class="input-text full-width" name="whoKid" value="0" placeholder="" min="0" max="5" />
                                        </div>
                                        <div class="col-xs-3">
                                            <label>Infants</label>
                                            <input type="number" class="input-text full-width" name="whoInf" value="0" placeholder="" min="0" max="3" />
                                        </div>
                                        <div class="col-xs-6 pull-right">
                                            <label>&nbsp;</label>
                                            <button class="full-width icon-check">SERACH NOW</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <h2>Featured Flight Deals</h2>
                <div class="image-box style11 block">
                    <div class="row">
                        <div class="col-sm-4">
                            <article class="box">
                                <figure class="animated" data-animation-type="fadeInDown">
                                    <a title="" href="flight-detailed.html"><img alt="" src="https://via.placeholder.com/370x160"></a>
                                    <figcaption>
                                        <h3 class="caption-title">Paris</h3>
                                        <span>Delta airline</span>
                                    </figcaption>
                                </figure>
                                <div class="details">
                                        <span class="price">
                                            <small>From</small>$120
                                        </span>
                                    <div class="icon-box style11">
                                        <div class="icon-wrapper">
                                            <i class="soap-icon-plane-right takeoff-effect circle"></i>
                                        </div>
                                        <div class="details">
                                            <h4 class="box-title">London to Paris<small>Oneway flight</small></h4>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-4">
                            <article class="box">
                                <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.6">
                                    <a title="" href="flight-detailed.html"><img alt="" src="https://via.placeholder.com/370x160"></a>
                                    <figcaption>
                                        <h3 class="caption-title">Spain</h3>
                                        <span>United airline</span>
                                    </figcaption>
                                </figure>
                                <div class="details">
                                        <span class="price">
                                            <small>From</small>$347
                                        </span>
                                    <div class="icon-box style11">
                                        <div class="icon-wrapper">
                                            <i class="soap-icon-plane-right takeoff-effect circle"></i>
                                        </div>
                                        <div class="details">
                                            <h4 class="box-title">Dubai to Spain<small>Return flight</small></h4>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-4">
                            <article class="box">
                                <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.9">
                                    <a title="" href="flight-detailed.html"><img alt="" src="https://via.placeholder.com/370x160"></a>
                                    <figcaption>
                                        <h3 class="caption-title">Australia</h3>
                                        <span>air asia airline</span>
                                    </figcaption>
                                </figure>
                                <div class="details">
                                        <span class="price">
                                            <small>From</small>$239
                                        </span>
                                    <div class="icon-box style11">
                                        <div class="icon-wrapper">
                                            <i class="soap-icon-plane-right takeoff-effect circle"></i>
                                        </div>
                                        <div class="details">
                                            <h4 class="box-title">Rome to Australia<small>Oneway flight</small></h4>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

                <h2>Cheap Flights &amp; Air Tickets</h2>
                <div class="image-carousel style2 block" data-animation="slide" data-item-width="270" data-item-margin="30">
                    <ul class="slides image-box listing-style2 flight">
                        <li>
                            <article class="box">
                                <figure>
                                    <span><img src="https://via.placeholder.com/270x160" alt="" width="270" height="160" /></span>
                                </figure>
                                <div class="details">
                                    <a title="View all" href="flight-detailed.html" class="pull-right button btn-mini uppercase">select</a>
                                    <h4 class="box-title">Paris</h4>
                                    <label class="price-wrapper">
                                        <span class="price-per-unit">$620</span>oneway
                                    </label>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="box">
                                <figure>
                                    <span><img src="https://via.placeholder.com/270x160" alt="" width="270" height="160" /></span>
                                </figure>
                                <div class="details">
                                    <a title="View all" href="flight-detailed.html" class="pull-right button btn-mini uppercase">select</a>
                                    <h4 class="box-title">Paris</h4>
                                    <label class="price-wrapper">
                                        <span class="price-per-unit">$170</span>oneway
                                    </label>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="box">
                                <figure>
                                    <span><img src="https://via.placeholder.com/270x160" alt="" width="270" height="160" /></span>
                                </figure>
                                <div class="details">
                                    <a title="View all" href="flight-detailed.html" class="pull-right button btn-mini uppercase">select</a>
                                    <h4 class="box-title">Paris</h4>
                                    <label class="price-wrapper">
                                        <span class="price-per-unit">$620</span>oneway
                                    </label>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="box">
                                <figure>
                                    <span><img src="https://via.placeholder.com/270x160" alt="" width="270" height="160" /></span>
                                </figure>
                                <div class="details">
                                    <a title="View all" href="flight-detailed.html" class="pull-right button btn-mini uppercase">select</a>
                                    <h4 class="box-title">Paris</h4>
                                    <label class="price-wrapper">
                                        <span class="price-per-unit">$320</span>oneway
                                    </label>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="box">
                                <figure>
                                    <span><img src="https://via.placeholder.com/270x160" alt="" width="270" height="160" /></span>
                                </figure>
                                <div class="details">
                                    <a title="View all" href="flight-detailed.html" class="pull-right button btn-mini uppercase">select</a>
                                    <h4 class="box-title">Paris</h4>
                                    <label class="price-wrapper">
                                        <span class="price-per-unit">$620</span>oneway
                                    </label>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>

                <div class="row" style="display:none;">
                    <div class="col-md-4">
                        <h2>Before you Fly</h2>
                        <div class="toggle-container with-image block" id="accordion3" data-image-animation-type="fadeIn" data-image-animation-duration="2">
                            <div class="panel style1">
                                <img src="https://via.placeholder.com/370x160" alt="" />
                                <h4 class="panel-title">
                                    <a href="#acc7" data-toggle="collapse" data-parent="#accordion3">Book your Bags in Advance</a>
                                </h4>
                                <div class="panel-collapse collapse in" id="acc7">
                                    <div class="panel-content">
                                        <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                    </div><!-- end content -->
                                </div>
                            </div>

                            <div class="panel style1">
                                <img src="https://via.placeholder.com/370x160" alt="" />
                                <h4 class="panel-title">
                                    <a class="collapsed" href="#acc8" data-toggle="collapse" data-parent="#accordion3">Special Meal Requests</a>
                                </h4>
                                <div class="panel-collapse collapse" id="acc8">
                                    <div class="panel-content">
                                        <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                    </div><!-- end content -->
                                </div>
                            </div>

                            <div class="panel style1">
                                <img src="https://via.placeholder.com/370x160" alt="" />
                                <h4 class="panel-title">
                                    <a class="collapsed" href="#acc9" data-toggle="collapse" data-parent="#accordion3">Check your Flight Status</a>
                                </h4>
                                <div class="panel-collapse collapse" id="acc9">
                                    <div class="panel-content">
                                        <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                    </div><!-- end content -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2>Top Flight Routes</h2>
                        <div class="flight-routes image-box style13 block">
                            <div class="box">
                                <figure>
                                    <a href="#"><img src="https://via.placeholder.com/40x40" alt=""></a>
                                </figure>
                                <div class="action">
                                    <a href="flight-booking.html" class="button">BOOK</a>
                                </div>
                                <div class="details">
                                    <h5 class="box-title">Rome to Dubai</h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$201</span>Oneway</label>
                                </div>
                            </div>
                            <div class="box">
                                <figure>
                                    <a href="#"><img src="https://via.placeholder.com/40x40" alt=""></a>
                                </figure>
                                <div class="action">
                                    <a href="flight-booking.html" class="button">BOOK</a>
                                </div>
                                <div class="details">
                                    <h5 class="box-title">Greece to Canada</h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$478</span>return</label>
                                </div>
                            </div>
                            <div class="box">
                                <figure>
                                    <a href="#"><img src="https://via.placeholder.com/40x40" alt=""></a>
                                </figure>
                                <div class="action">
                                    <a href="flight-booking.html" class="button">BOOK</a>
                                </div>
                                <div class="details">
                                    <h5 class="box-title">Thailand to Paris</h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$231</span>Oneway</label>
                                </div>
                            </div>
                            <div class="box">
                                <figure>
                                    <a href="#"><img src="https://via.placeholder.com/40x40" alt=""></a>
                                </figure>
                                <div class="action">
                                    <a href="flight-booking.html" class="button">BOOK</a>
                                </div>
                                <div class="details">
                                    <h5 class="box-title">Singapore to Malaysia</h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$149</span>return</label>
                                </div>
                            </div>
                            <div class="box">
                                <figure>
                                    <a href="#"><img src="https://via.placeholder.com/40x40" alt=""></a>
                                </figure>
                                <div class="action">
                                    <a href="flight-booking.html" class="button">BOOK</a>
                                </div>
                                <div class="details">
                                    <h5 class="box-title">Greece to Canada</h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$478</span>return</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2>Get Travel Insurance</h2>
                        <div class="icon-box style7 border-bottom">
                            <i class="soap-icon-user yellow-bg"></i>
                            <div class="description">
                                <h4 class="box-title"><a href="#">Single Trip Plans</a></h4>
                                <ul class="circle">
                                    <li>Trip Protector</li>
                                    <li>Rental Car Damage Protector</li>
                                </ul>
                                <a class="view" href="#">View Single Trip Plan Options »</a>
                            </div>
                        </div>
                        <div class="icon-box style7">
                            <i class="soap-icon-friends yellow-bg"></i>
                            <div class="description">
                                <h4 class="box-title"><a href="#">Multi-Trip (Annual) Plans</a></h4>
                                <ul class="circle">
                                    <li>Best value for frequent travelers</li>
                                    <li>Coverage for non-award</li>
                                </ul>
                                <a class="view" href="#">View Annual Trip Plan Options »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}